<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.realdd.medcost.mapper.AccountDetailMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.realdd.medcost.dto.AccountDetail">
        <id column="eaid" property="id" />
        <result column="eastatus" property="status" />
        <result column="serial_num" property="serialNum" />
        <result column="expense_type_id" property="expenseTypeId" />
        <result column="realname" property="realname" />
        <result column="username" property="username" />
        <result column="gender" property="gender" />
        <result column="age" property="age" />
        <result column="type" property="type" />
        <result column="department" property="department" />
        <result column="major" property="major" />
        <result column="name" property="fHospitalName" />
        <result column="referral_img" property="referralImg" />
        <result column="l_hospital_name" property="lHospitalName" />
        <result column="room" property="room" />
        <result column="deadline" property="deadline" />
        <result column="regist_time" property="registTime" />
        <result column="school" property="school" />
        <result column="regist_fee" property="registFee" />
        <result column="regist_img" property="registImg" />
        <result column="disease" property="disease" />
        <result column="prescription_img" property="prescriptionImg" />
        <result column="invoice_time" property="invoiceTime" />
        <result column="invoice_fee" property="invoiceFee" />
        <result column="invoice_img" property="invoiceImg" />
        <collection property="reviewRecordList" resultMap="reviewRecordList"/>
    </resultMap>

    <resultMap id="reviewRecordList" type="com.realdd.medcost.dto.ReviewRecord">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="update_time" property="updateTime" />
        <result column="realname" property="reviewerRealname" />
        <result column="reviewer_id_num" property="reviewerIdNum" />
        <result column="rearstatus" property="status" />
        <result column="comment" property="comment" />
    </resultMap>

    <select id="getAccountDetailByExpenseAccountId" resultMap="BaseResultMap">
        SELECT
            ea.id as eaid,
            ea.status as eastatus,
            ea.serial_num,
            ea.expense_type_id,
            u.realname,
            u.username,
            u.gender,
            u.age,
            u.type,
            u.department,
            u.major,
            u.school,
            h.name,
            ea.l_hospital_name,
            ea.room,
            ea.prescription_img,
            ea.referral_img,
            ea.deadline,
            ea.regist_img,
            ea.regist_time,
            ea.regist_fee,
            ea.invoice_time,
            ea.invoice_fee,
            ea.invoice_img,
            rear.update_time,
            reviewer.realname,
            rear.reviewer_id_num,
            rear.status as rearstatus,
            rear.comment
        FROM user u,
             user reviewer,
             expense_account ea,
             reviewer_expense_account_relation rear,
             hospital h
        where ea.id=#{expenseAccountId} and
              h.id=ea.f_hospital_id and
              ea.username=u.username and
              ea.id=rear.expense_account_id and
              reviewer.username=rear.reviewer_id_num
    </select>

    <select id="getInReviewAccountDetailByExpenseAccountId" resultMap="BaseResultMap">
        SELECT
            ea.id as eaid,
            ea.status as eastatus,
            ea.serial_num,
            ea.expense_type_id,
            u.realname,
            u.username,
            u.gender,
            u.age,
            u.type,
            u.department,
            u.major,
            u.school,
            h.name,
            ea.l_hospital_name,
            ea.room,
            ea.prescription_img,
            ea.referral_img,
            ea.deadline,
            ea.regist_img,
            ea.regist_time,
            ea.regist_fee,
            ea.invoice_time,
            ea.invoice_fee,
            ea.invoice_img
        FROM user u,
             expense_account ea,
             hospital h
        where ea.id=#{expenseAccountId} and
              h.id=ea.f_hospital_id and
              ea.username=u.username
    </select>
</mapper>
