<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.realdd.medcost.mapper.AccountInfoBriefMapper">
    <resultMap id="AccountInfoBriefResultMap" type="com.realdd.medcost.dto.AccountInfoBrief">
        <id column="id" property="id"/>
        <result column="serial_num" property="serialNum"/>
        <result column="username" property="username"/>
        <result column="realname" property="realname"/>
        <result column="disease" property="disease"/>
        <result column="expense_type_id" property="expenseTypeId"/>
        <result column="invoice_fee" property="invoiceFee"/>
        <result column="regist_fee" property="registFee"/>
        <result column="create_time" property="createTime"/>
        <result column="status" property="status"/>
    </resultMap>

    <select id="userAndAccountInfoPage" resultType="com.realdd.medcost.dto.AccountInfoBrief">
        select ea.id,ea.serial_num,ea.username,ea.disease,ea.expense_type_id,ea.invoice_fee,ea.regist_fee,ea.create_time,ea.status,u.realname
        from expense_account ea,user u
        where ea.username=u.username

    </select>

</mapper>
