<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.realdd.medcost.mapper.ReviewHistoryMapper">
    <resultMap id="ReviewHistoryResultMap" type="com.realdd.medcost.dto.ReviewHistory">
        <id column="id" property="id"/>
        <result column="expense_account_id" property="expenseAccountId"/>
        <result column="reviewer_id_num" property="reviewerIdNum"/>
        <result column="reviewer_name" property="reviewerName"/>
        <result column="reviewer_master_id_num" property="reviewerMasterIdNum"/>
        <result column="reviewer_master_name" property="reviewerMasterName"/>
        <result column="comment" property="comment"/>
        <result column="status" property="status"/>
        <result column="is_cancel" property="isCancel"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="listReviewHistoryByAccountId" resultType="com.realdd.medcost.dto.ReviewHistory">
        select rera.*,r.realname reviewer_name,m.realname reviewer_master_name
        from (reviewer_expense_account_relation rera left join user r on rera.reviewer_id_num=r.username) left join user m on rera.reviewer_master_id_num=m.username
        where rera.expense_account_id=#{accountId}
    </select>

</mapper>
