<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.realdd.medcost.mapper.UserMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.realdd.medcost.entity.User">
        <id column="id" property="id" />

        <result column="username" property="username" />
        <result column="realname" property="realname" />
        <result column="password" property="password" />
        <result column="gender" property="gender" />
        <result column="age" property="age" />
        <result column="type" property="type" />
        <result column="login_time" property="loginTime" />
        <result column="create_time" property="createTime" />
        <result column="school" property="school" />
        <result column="major" property="major" />
        <result column="grade" property="grade" />
        <result column="department" property="department" />
        <result column="annual_expense" property="annualExpense" />
        <result column="update_time" property="updateTime" />
    </resultMap>


    <insert id="insertUserDuplicate"  useGeneratedKeys="true" keyProperty="id" keyColumn="id"
            parameterType="com.realdd.medcost.entity.User">
 insert into user(username,age) values(#{username},#{age}) ON DUPLICATE KEY UPDATE age=#{age}
</insert>

    <insert id="insertBatchDuplicate"  useGeneratedKeys="true" keyProperty="id" keyColumn="id">
insert
into user (username, realname, password, gender, age, type, school, major, grade, department,update_time,login_time,create_time)
values
<foreach collection="list" item="item" index="index" separator=",">
 (#{item.username},#{item.realname},#{item.password},#{item.gender},#{item.age},#{item.type},#{item.school},#{item.major},#{item.grade},#{item.department},#{item.updateTime},#{item.loginTime},#{item.createTime})</foreach>ON DUPLICATE KEY UPDATE realname=values(realname),password=values(password),gender=values(gender),age=values(age),type=values(type),school=values(school),major=values(major),grade=values(grade),department=values(department),update_time=values(update_time),login_time=values(login_time),create_time=values(create_time)
</insert>

    <select id="selectAll" resultType="com.realdd.medcost.entity.User">
        select u.*
        from user u
    </select>

</mapper>
